<header>
  <div class="logo">
    <img src="/img/logo_dark.png">
  </div>
</header>


<script src="main.js"></script>
<form action="/validateLogin" method=post class="topBefore">
  <div class="name">
    <input type="text" name="name"><span>name</span>
  </div>
  <div class="email">
    <input type="text" name="email"><span>email</span>
  </div>
  <div class="website">
    <input type="text" name="website"><span>website</span>
  </div>
  <input id="submit" type="submit" value="Submit">
</form>


<script src="main.js"></script>
<script defer type="text/javascript" src="https://s3.amazonaws.com/stitch-sdks/js/library/v3/stable/stitch.min.js"></script>
