  <header>
    <div class="logo"></div>
  </header>
  <form>
    <div class="name">
      <input type="text" name="name" class="name"><span>name</span>
    </div>
    <div class="email">
      <input type="text" name="email"><span>email</span>
    </div>
    <div class="website">
      <input type="text" name="website"><span>website</span>
    </div>
      <input type="submit" value="Submit">
  </form>
