  <header>
    <div class="logo"></div>
  </header>
  <form>
    <input type="text" name="name" class="name">
    <input type="text" name="email">
    <input type="text" name="website">
    <input type="submit" value="Submit">
  </form>
