<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Hustlers Club</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel='stylesheet' href='/css/main.min.css' />
  <link rel="shortcut icon" type="img/jpg" href="/img/favicon.jpg"/>
  <meta property="og:title" content="Hustlers Club" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://hustlers.club" />
  <meta property="og:image" content="https://hackers.nyc3.digitaloceanspaces.com/hustleshare.jpg" />
  <meta property="og:description" content="New York's Finest Gentleman's Club. A Broiest™ production." />
  <meta property="og:local" content="en_US" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@hustlersclub" />
  <meta name="twitter:creator" content="@toddrbirchard" />
  <meta name="twitter:title" content="Hustlers Club" />
  <meta name="twitter:description" content="New York's Finest Gentleman's Club. A Broiest™ production." />
  <!--<meta property="og:url" content="http://hustlers.club/" />-->
  <meta name="twitter:image" content="https://hackers.nyc3.digitaloceanspaces.com/hustleshare.jpg" />



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121546439-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121546439-1');
</script>

</head>

<body class="{{template}}">
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
