.login,
.signup-page {
  height: 100%;
  position: relative;

  .container {
    width: 600px;
    margin: auto;
    top: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 100px 50px;
    border: 2px solid black;
  }

  .logo {
    background: url("/img/logo_dark.png");
    background-size: cover;
    height: 48px;
    width: 120px;
    margin: auto;
  }

  form {
    .name,
    .email,
    .password,
    .website {
      width:400px;
      margin: auto;
    }

    span {
      display: block;
      text-transform: uppercase;
      width: 100%;
      font-family: 'Futura-Medium';
      margin-top: 10px;
    }
  }

  input[type='text'] {
    //-webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid #000;
    background: 0 0;
    padding: 10px 0;
    display: block;
    width: 100%;
    margin: 60px auto 0;
    font-size: 24px;
    caret-color: #6E9FAC;
    -webkit-text-fill-color: transparent;
    outline: none;
    color: black;
  }

  input[type='submit'] {
    background: #000;
    color: #fff;
    padding: 5px;
    margin: 60px auto 0;
    display: block;
    -webkit-appearance: none;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    letter-spacing: 0.1em;
    font-family: 'Futura-Medium';
  }
}


.login {
  .container {
    height: 500px;
  }

}

.signup-page {
  .container {
    height: 400px;
  }
}
